{% extends 'base.html' %}

{% block content %}
  <h1>Issue List</h1>
  <ul>
    {% for issue in issue_list %}
      <li>{{ issue.title }}</li>
      <li>{{ issue.description }}</li>
      <li>Created: {{ issue.created_at }}</li>
      <li>Updated: {{ issue.updated_at }}</li>
      <a href="{% url 'issue_delete' issue.pk %}" class="btn btn-danger"> Close issue </a>
      <a href="{% url 'issue_edit' issue.pk %}" class="btn btn-success"> Edit issue </a>
      <a href="{% url 'issue_list' %}" class="btn btn-primary"> Go back </a>
      <hr>
    {% empty %}
      <li>No issues found.</li>
    {% endfor %}
  </ul>
{% endblock %}